<h1>Display your Pirate here</h1>
<p>Pirate: <%= @pirate.name %></p>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p>


<h2>Display your first ship here</h2>
<% @ships.each do |s| %>
    <div class="ship">
    <p>Name: <%= s.name %></p>
    <p>Type: <%= s.type %></p>
    <p>Booty: <%= s.booty %></p>
    </div>
 <% end %>


<h2>Display your second ship here</h2>
